/* Colors
   ========================================================================== */

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #000000;
}

.green {
    background-color: #00FF00;
}

.grey {
    background-color: grey;
}

.white-text {
    color: #FFFFFF;
}

.black-text {
    color: #000000;
}

.green-text {
    color: #00FF00 !important; /* collision with materialize css */
}

.grey-text {
    color: grey;
}

/* Overwrite the materialize labels */

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #00FF00;
}

/* Overwrite the materialize underline */

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00FF00;
    -webkit-box-shadow: 0 1px 0 0 #00FF00;
    box-shadow: 0 1px 0 0 #00FF00;
}

/* Fonts
   ========================================================================== */

/* Used for the logo */
.anonymous {
    font-family: 'Anonymous Pro', monospace;
}

/* Used for the h1 */
.dosis {
    font-family: 'Dosis', sans-serif;
}

/* Used for the headers */
.fira {
    font-family: 'Fira Sans', sans-serif;
}

/* Used for the paragraphs */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

/* Dimensions
   ========================================================================== */

/* Attributes */
p.center {
    text-align: center;
}

.right {
    float: right;
}

.full-width {
    width: 100%;
}

.full-width-image {
    max-width: 100%;
}

/* Texts */

/* Describes the h1 tag's size */
.big-text {
    font-size: 4rem;
}

@media screen and (max-width: 1400px) {
    .big-text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .big-text {
        font-size: 2rem;
    }
}

/* Describes the h2-h6 tags' size */
.medium-text {
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .medium-text {
        font-size: 5vw;
    }
}

/* Describes the p and text areas size */
.small-text {
    font-size: 1rem;
}

.logo-text {
    font-size: 18px;
}

@media screen and (max-width: 1400px) {
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        max-width: 100%;
        font-size: 100%;
        font-size: 6vw;
    }
}

@media screen and (max-width: 600px) {
    h2, h3, h4, h5 {
        width: 100%;
        font-size: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    p {
        max-width: 100%;
        font-size: 100%;
        text-align: justify;
    }
}

/* Components
   ========================================================================== */

/* Define a 'always-shown' attribute */
.sticky {
    position: fixed;
    top: 0;
    z-index: 3;
}

/* Define tab's reaction on a hover */
nav ul a:hover {
    background-color: white;
}

.dashed-border {
    padding: 16px;
    border-width: 1px;
    border: dashed;
    border-color: #00FF00;
}

#image-view {
    background-color: darkgrey;
    width: 480px;
    height: 320px;
}

/*==========Divider============*/
.divider.blog {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*==================Blog section===================*/

.blog-image {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.blog-header {
    background-color: #000;
    color: #fff;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.color-overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: .6;
    position: absolute;
}

.blog-header img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.blog-header h1 {
    margin: 50px;
    font-size: 4rem;
    z-index: 2;
}

.blog-header hr {
    display: block;
    width: 200px;
    height: 2px;
    background-color: #00FF00;
    border: none;
    z-index: 2;
}

.section-title {
    color: #00FF00;
    font-size: 24px;
    display: inline;
}

.article-date {
    float: right;
    color: grey;
    display: inline;
}

.blog-right-panel {
    text-align: right;
}

.blog-button {
    border: solid 2px #00FF00;
    background-color: #FFF;
    color: #00FF00;
    border-radius: 7px;
    box-shadow: none;
}

.blog-button:hover {
    background-color: #EEE;
    box-shadow: none;
}

.blog-email-input {
    border: solid 2px #00FF00;
}

@media screen and (max-width: 600px) {
    .blog-post-list {
        text-align: center;
    }

    .blog-post-list li {
        margin-top: 16px;
    }
}

@media screen and (max-width: 600px) {
    .blog-image-me {
        display: none;
    }
}

/*==================Footer===================*/

.page-footer {
    background-color: white;
}